.container {
	width: 100%;
}

.swiper {
	width: 100%;
	min-height: 1000px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 450px;
	height: 600px;
}

.swiper-slide img {
	display: block;
	width: 100%;
}
